apiclient==1.0.3
asn1crypto==0.23.0
astor==0.7.1
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
bleach==1.5.0
bokeh==0.13.0
boto3==1.5.9
botocore==1.8.23
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
configparser==3.5.0
cryptography==2.1.4
cycler==0.10.0
cytoolz==0.9.0.1
dask==0.18.2
decorator==4.2.1
deepdish==0.3.6
dill==0.2.7.1
distributed==1.22.0
docutils==0.14
easydict==1.7
entrypoints==0.2.3
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
geojson==2.3.0
gmaps==0.7.0
google-api-core==0.1.4
google-api-python-client==1.6.2
google-auth==1.4.1
google-cloud==0.33.1
google-cloud-bigquery==0.28.0
google-cloud-bigquery-datatransfer==0.1.1
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-dataproc==0.1.0
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.28.0
google-cloud-language==1.0.2
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.1
google-cloud-runtimeconfig==0.28.1
google-cloud-spanner==0.29.0
google-cloud-speech==0.30.0
google-cloud-storage==1.6.0
google-cloud-trace==0.17.0
google-cloud-translate==1.3.1
google-cloud-videointelligence==1.0.1
google-cloud-vision==0.29.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpc-google-iam-v1==0.11.4
grpcio==1.13.0
gspread==0.6.2
h5py==2.8.0
heapdict==1.0.0
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
imageio==2.3.0
ipaddress==1.0.18
ipykernel==4.8.2
ipyparallel==6.1.1
ipython==5.6.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.30.6
jupyterlab-launcher==0.6.0
kiwisolver==1.0.1
linecache2==1.0.0
locket==0.2.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mkl-fft==1.0.4
mkl-random==1.0.1
mock==2.0.0
mpmath==1.0.0
mrjob==0.6.2
msgpack-python==0.4.8
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
notebook==5.4.1
ntplib==0.3.3
numexpr==2.6.4
numpy==1.15.0
oauth2client==1.5.2
olefile==0.44
opencv-python==3.4.0.12
osmapi==1.1.0
packaging==17.1
pandas==0.23.3
pandocfilters==1.4.2
partd==0.3.8
pathlib2==2.3.0
patsy==0.4.1
pbr==4.2.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.2.0
ply==3.8
progressbar2==3.34.3
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.6.0
psutil==5.4.1
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycosat==0.6.3
pycparser==2.18
PyGeoj==0.22
Pygments==2.2.0
pykalman==0.9.5
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyshp==1.2.12
PySocks==1.6.7
python-dateutil==2.7.2
python-utils==2.2.0
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
rlx==0.1.0
rsa==3.4.2
ruamel-yaml==0.11.14
s3transfer==0.1.12
scandir==1.7
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
Shapely==1.6.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sortedcontainers==1.5.7
statsmodels==0.8.0
subprocess32==3.2.7
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tensorboard==1.9.0
tensorflow==1.9.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tflearn==0.3.2
toolz==0.8.2
tornado==5.0.1
tqdm==4.19.5
traceback2==1.4.0
traitlets==4.3.2
tzlocal==1.5.1
unittest2==1.1.0
uritemplate==3.0.0
urllib3==1.22
utm==0.4.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.0
zict==0.1.3
